<mat-card class="task-list">
  <!-- TITLE -->
  <mat-card-header>
    Task List

    <mat-card-title>
      <h2>COCINA</h2>
    </mat-card-title>
  </mat-card-header>

  <!-- CONTENT -->
  <mat-card-content>
    <div class="task-filter">FILTER</div>

    <div class="task-counter">Mock - 2 / 6 task done</div>

    <div class="tasks-container">
      <!-- TASK -->
      <div class="task-item">
        <ul>
          <!--@for(){ -->
          <li>task</li>

          <mat-card-actions class="task-actions">
            <mat-slide-toggle class="toggleChecked" labelPosition="before"
              >Checked</mat-slide-toggle
            >
            <mat-icon class="infoIcon" fontIcon="info"></mat-icon>
            <mat-icon class="editIcon" fontIcon="edit"></mat-icon>
            <mat-icon class="removeIcon" fontIcon="remove"> </mat-icon>
          </mat-card-actions>

          <!--}-->
        </ul>
      </div>
    </div>
  </mat-card-content>

  <!-- ACTION -->
  <mat-card-actions class="add-task">
    <button matFab="filled" extended>
      <mat-icon class="addIcon" fontIcon="add 2"></mat-icon>
      Add task
    </button>
  </mat-card-actions>
</mat-card>
